/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Apr-2015, 03:00:23
    Author     : John McDonnell
*/

#textContainer
{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-shadow: 1px 1px #fffff;
    padding-bottom: 10px; 
    padding-top: 10px;

}
#textContainer h3
{
   text-align: center;
    color: #3CA2A2;
    text-decoration: underline;
}
#contentContainer
{
    width: 90%;
    margin-top: 90px;
    height: auto;
    //background-color: white;
    margin-left: auto;
    margin-right: auto;

}