@import url("http://fonts.googleapis.com/css?family=Cookie");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font: 13px/1 'Open Sans', sans-serif;
    color: #333;
    background: #000000;
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
}

p {
    line-height: 1.5;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    color: #3CA2A2;
    
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}

.header {
    height: 50px;
    color: #3CA2A2;
    background: #303030;
}

.header .title {
    width: 200px;
    font: 30px/50px Cookie, sans-serif;
    text-align: center;
    color: #3CA2A2;
}

.header .user {
    position: absolute;
    top: 17px;
    right: 35px;
    font-weight: 600;
}

.header .name,
.header .logout {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    font-size: 8px;
}

.header .name:before,
.header .logout:before {
    content: '\f007';
    font-family: fontawesome;
    position: absolute;
    top: 0;
    left: 0;
}

.header .name {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #3CA2A2 ;
}

.header .logout:before {
    content: '\f023';
}

.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.nav {
    width: 200px;
    background: #404040;

}

.nav .search {
    position: relative;
    height: 45px;
    border-bottom: 1px solid #272727;
}

.nav .search:before {
    content: '\f002';
    font: 14px fontawesome;
    position: absolute;
    top: 14px;
    left: 20px;
    color: #777;
}

.nav .search input {
    position: absolute;
    top: 0;
    left: 50px;
    display: block;
    width: 150px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #777;
    background: none;
}

.nav .search [placeholder]::-webkit-input-placeholder {
    color: #777;
}

.nav .search [placeholder]:hover::-webkit-input-placeholder {
    color: #555;
}

.nav .search [placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
}

.nav li a {
    position: relative;
    display: block;
    padding: 15px 15px 15px 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #3CA2A2;
    border-bottom: 1px solid #272727;
}

.nav li a:before {
    font: 14px fontawesome;
    position: absolute;
    top: 14px;
    left: 20px;
}

.nav li:nth-child(1) a:before {
    content: '\f00a';
}

.nav li:nth-child(2) a:before {
    content: '\f012';
}

.nav li:nth-child(3) a:before {
    content:  '\f15c';
}

.nav li:nth-child(4) a:before {
    content:  '\f011';
}

.nav li:nth-child(5) a:before {
    content: '';
}

.nav li:nth-child(6) a:before {
    content: '';
}

.nav li:nth-child(7) a:before {
    content: '';
}

.nav li:nth-child(8) a:before {
    content: '';
    left: 23px;
}

.nav li a:hover {
    background: #535353;
}

.nav li a.active {
    box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #272727;
    background: #535353;
}

.nav ul ul {
    background: #333333;
}

.nav li li a {
    padding: 10px 10px 10px 50px;
    font-size: 11px;
}

.nav li li a:before {
    content: '\f148' !important;
    font: 10px fontawesome;
    top: 10px;
    left: 25px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 30px;
}

.content .title {
    margin: 0 0 30px;
    font: 35px Cookie, sans-serif;
    color: #3CA2A2;
}

.grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.grid .col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 30px 30px 0;
    padding: 15px;
    border-radius: 3px;
   background: #000000;
    
    box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1);
}

.grid .col:last-child {
    margin-right: 0;
}

.grid .col .head {
    background: #000000;
    color: #ffffff;
    height: auto;
    margin: -15px -15px 15px -15px;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 4px solid #3CA2A2;
}

table {
    width: calc(100% + 28px);
    border-collapse: collapse;
    margin: -16px -14px;
}

th, td {
    padding: 10px;
    border: 1px solid #eee;
}

th:first-child,
td:first-child {
    border-left: 0;
}

th:last-child,
td:last-child {
    border-right: 0;
}

th {
    background: #f8f8f8;
}

tr:nth-child(odd) {
    background: #f8f8f8;
}

.btnset {
    margin: 15px -15px -15px -15px;
    padding: 15px;
    text-align: right;
    border-top: 1px solid #eee;
}

.btn {
    display: inline-block;
    min-width: 100px;
    margin-left: 10px;
    padding: 10px 15px 12px;
    font: 700 12px/1 'Open Sans', sans-serif;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.btn.act {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background: #59d;
    box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
}

.btn.act:hover {
    background: #48c;
}

.btn.pri {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background: #6b6;
    box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
}

.btn.pri:hover {
    background: #5a5;
}

.btn.sec {
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    background: #fff;
    box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.05);
}

.btn.sec:hover {
    background: #f5f5f5;
}

@media (max-width: 1000px) {
    .grid {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .grid .col {
        margin-right: 0;
    }
}
@media (max-width: 800px) {
    .nav {
        width: 180px;
    }

    .nav .search input {
        width: 130px;
    }
}
@media (max-width: 600px) {
    .nav {
        width: 160px;
    }

    .nav .search input {
        width: 110px;
    }
}
#contentContainer
{
    width: 90%;
    margin-top: 20px;
    height: 100%;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;


}
#results
{
    background: #3CA2A2;
    border: 2px solid #3CA2A2;;
    width: 300px;
    margin-left: 700px;
    //margin-right: 50px;
   // float: right;
    color: #ffffff;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: -150px;
    text-align: center;
    border-top-right-radius   : 25px;
    border-bottom-left-radius : 25px;
    -webkit-box-shadow : #215A6D 20px 20px 30px;
    -moz-box-shadow    : #215A6D 20px 20px 30px;
    -ms-box-shadow    : #215A6D 20px 20px 30px;
    -o-box-shadow    : #215A6D 20px 20px 30px;
    box-shadow         : #215A6D 20px 20px 30px;  
}
#ajaxOne
{
    display: inline-block;
    min-width: 100px;
    width: 180px;
    margin-left: 10px;
    padding: 10px 15px 12px;
    font: 700 12px/1 'Open Sans', sans-serif;
    text-align: center;
    border: 2px solid #3CA2A2;
    border-radius: 3px;
    cursor: pointer;
}
#ajaxSecond
{
    display: inline-block;
    min-width: 100px;
    width: 180px;
    margin-left: 10px;
    padding: 10px 15px 12px;
    font: 700 12px/1 'Open Sans', sans-serif;
    border: 2px solid #3CA2A2;
    text-align: center;
    border: 2px solid #3CA2A2;
    border-radius: 3px;
    cursor: pointer;
}
#ajaxThird
{
    display: inline-block;
    min-width: 100px;
    width: 180px;
    margin-left: 10px;
    padding: 10px 15px 12px;
    font: 700 12px/1 'Open Sans', sans-serif;
    text-align: center;
    border: 2px solid #3CA2A2;
    border-radius: 3px;
    cursor: pointer;
}
#letter
{
    display: inline-block;
    min-width: 100px;
    width: 180px;
    margin-left: 10px;
    padding: 10px 15px 12px;
    font: 700 12px/1 'Open Sans', sans-serif;
    text-align: center;
    border: 2px solid #3CA2A2;
    border-radius: 3px;
    cursor: pointer;
}
#theProduct
{
    background: #000000;
    margin-left: 10px;
    margin-top: 5px;
    height: 30px;
    border: 2px solid #3CA2A2;
    border-radius: 3px;
}
#deleteTheProduct
{
    background: #000000;
    margin-left: 10px;
    margin-top: 5px;
    height: 30px;
    border: 2px solid #3CA2A2;
    border-radius: 3px;
}
#landingLogo
{
    width: 100%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}
#landingLogo img{
    width:40%;
    margin-top: 80px;
    margin-left: 450px;
    margin-right: auto;
}







