 #clock {
      font: italic 15px sans-serif;
      background: #3CA2A2;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 2px;
      margin-top: -30px;
      margin-right: 5px;
      text-align: center;
      border: solid black 1px;
      border-radius: 6px;
      float: right;
      width: auto;
      opacity: .8;
    }
    h1 
    {
        padding-bottom: 2px;
        color: #f2f2f2;
    }