@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);



.container {
    
	width:700px;
	margin-left: auto;
        margin-right: auto;
        padding-top: 60px; 
        padding-bottom: 60px;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	
        border-radius: 6px;
}

#contact h3 {
	color: #215A6D;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
        color: #3CA2A2;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 70%;
	padding: 0;
	width: 95%;
        
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
        border-radius: 6px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #3CA2A2;
          border-radius: 6px;
}

#contact textarea {
	height:100px;
	max-width:100%;
        resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:95%;
	border:none;
	background:#3CA2A2;
	color:#FFF;
	margin:0 0 5px;
        margin-left: 5%;
	padding:10px;
	font-size:15px;
        border-radius: 6px;
}

#contact button[type="submit"]:hover {
	background:#215A6D;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
