/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Jan-2015, 15:24:20
    Author     : John
*/

body
{
    font: 12pt Georgia;
    color: #f2f2f2;

}

a{
    color: #f2f2f2;
    text-decoration: none;
}

#footer{
    margin-bottom: 150px;
    margin: 10px auto;
    margin-top: 0px;
    clear: both;
    width: 100%;
   // position:relative;

}

.tomottoWrap{
  position: relative;
    background: #3CA2A2;
    border-radius: 6px;
}

#tomotto{
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    line-height: 36px;
    margin: auto;

}

.lookWrap
{
    position: relative; 
    background-color: #215A6D;
    float: left;
    width: 100%;
    border-radius: 6px;
}

#look
{
    margin: auto;
    width: 700px;
}

.section
{
    overflow: hidden;
    float: left;
    display: inline;
    width: 160px;
    margin: 0 15px 15px 0;
    font: 10pt verdana;
    line-height: 1.6em;
}

.section h3
{
    font-weight: normal;
    font: 12pt Georgia;
    text-transform: uppercase;
    color: #f2f2f2;
}

.section a
{
    display: block;
}

.legality
{
    margin: auto;
    width: 100%;
    text-align: center;
    clear: both;
    font: 10pt verdana;
    line-height: 2em;
    padding: 10px 0 10px 0;
    background: #3CA2A2;
    border-radius: 6px;
}