/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Jan-2015, 17:07:19
    Author     : John
*/

#header
{
    width: 100%;
    margin: 10px auto;
    height: 110px;
    background-image: linear-gradient(#444, #111);
    border-radius: 6px;
}
#logo
{
    //background-color: pink;
    margin: 10px;
    padding-top: 50px;
    width: 290px;
    height: 90px;
}
.logoContainer
{
    width:250px;
    height:100px;
   // float:left;
   // margin:auto;
   padding-left: 15px;
   padding-top: 5px;
}

.logoContainer img
{
    width: 100%;
    height: 100%;
    border-radius: 6px;

}
#contactDetails
{
    width: auto;
    height: 20px;
    margin-top: -60px;
    margin-right: 5px;
    padding: 2px;
   // border: 2px solid pink;
    border-radius: 6px;
    float: right;    
}
h1
{
     font-size: 10pt;
     font-family: sans-serif;
    color: #f2f2f2;
}