
/*slider frame*/
#sliderFrame 
{
    width:90%;
    background:#215A6D;
    height: 400px;
    margin: auto;
    margin-top: 10px;
    padding-top: 20px;
    
} 

#slider, #slider div.sliderInner
{
    width:700px;
    height:300px;/* Must be the same size as the slider images */
    border-radius: 6px;
}

#slider
{
    position:relative;
    margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);

}

/* the link style (if an image is wrapped in a link) */
#slider a.imgLink, #slider .video
{
    z-index:2;
    position:absolute;
    top:0px;
    left:0px;
    border:0;
    padding:0;
    margin:0;
    width:100%;
    height:100%;

}


/* Caption styles */
#slider div.mc-caption-bg, #slider div.mc-caption-bg2
{
    position:absolute;
    width:400px;
    height:auto;
    padding:10px 0;
    left: 100px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
    bottom: -40px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
    z-index:3;
    overflow:hidden;
    font-size:0;
}
#slider div.mc-caption-bg 
{
    /* NOTE: Its opacity, when background is not transparent, is to be set through the sliderOptions.captionOpacity setting in the js-image-slider.js file.*/
    background:transparent;/* or any other colors such as White, or: background:none; */
}
#slider div.mc-caption-bg2
{
    background: none;
}
#slider div.mc-caption
{
    font:bold 13px/16px Arial;
    color:#ccc;
    z-index:4;
    text-align:center;
    background:none;
}
#slider div.mc-caption a
{ 
    color:#66FFFF;
}


/* ------ built-in navigation bullets wrapper that is relative to the #slider ------*/
#slider div.navBulletsWrapper
{
    display:none;
}

/* --------- Others ------- */

#slider div.loading 
{
    width:100%;
    height:100%;
    background:transparent url(loading.gif) no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}

#slider img, #slider>b, #slider a>b {
    position:absolute;
    border:none; 
    display:none;
}

#slider div.sliderInner {
    overflow:hidden; 
    -webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
    position:absolute;
    top:0; 
    left:0;
}

#slider>a, #slider video, #slider audio {display:none;}


/* -- thumbnails -- */
#thumbs 
{
    margin-top:20px;
    text-align:center;
    font-size:0;

}
#thumbs .thumb 
{
    display:inline-block;
    *display:inline;zoom:1;/*IE6, IE7 hack*/
    margin:0 1px;/*this determins the distance between each thumbnail*/
    border:1px solid #333;
    padding:4px;
    background:#3CA2A2;
    border-radius: 6px;
}

#thumbs .thumb img
{
    border:1px solid #555;
    cursor:pointer;
    width:70px;
    height:44px;
    opacity:0.5;
    filter:alpha(opacity=50);
}
#thumbs .thumb-on img
{
    border:1px solid #999;
    opacity:1;
    filter:alpha(opacity=100);
}
#lazyImage img
{
    width: 700px;
    height: 306px;
}