/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Dec-2014, 17:00:27
    Author     : John
*/

#slider
{
    width: 80%;
    height: 30%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;

}
#textContainer
{
    margin-top: 80px;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-shadow: 1px 1px #fffff;

}
h5 {
    font-size: 10pt;
    font: 'trebuchet MS', Arial, Helvetica;
}
#contentContainer
{
    width: 90%;
    margin-top: 90px;
    height: auto;
    //background-color: white;
    margin-left: auto;
    margin-right: auto;

}
#landingLogo
{
    width: 1200px;
    
    padding-bottom: 10px;
    margin-left: 180px;
    margin-right: 0;
}
.middleContainer
{
    width:310px;
    height:200px;
    float:left;
    margin:auto;
    margin-left:35px;
}

.middleContainer img
{
    width: 100%;
    height: 100%;
    border-radius: 6px;

}






