/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Dec-2014, 15:23:06
    Author     : John
*/


body
{
    background: #ECECEA;
    
}
#wrapper
{
    width: 1200px;
 //   min-width: 900px;
    margin: auto;
    //background-color: lawngreen;
}

#pageContainer
{
    width: 1200px;
   // min-height: 800px;
    height: auto;
   // min-height: 900px;
    
    margin: auto;
    margin-top: -60px;
    background-color: #215A6D;
    border-radius: 6px;
    z-index: 0;
}
#contentContainer
{
    width: 90%;
    margin-top: 90px;
  
    //background-color: white;
    margin-left: auto;
    margin-right: auto;

}
