/* Imported Fonts */

@import url("http://fonts.googleapis.com/css?family=Noto+Sans");
@import url("http://weloveiconfonts.com/api/?family=iconicstroke");


/* RSS Icons */



/* Global Styles */

html {
    font-family:"Noto Sans",sans-serif;
    font-size:1em;
    font-weight:300;
    line-height:1.45;
}

*,*:focus { outline:none; }


/* Feed Styles */

.entry { padding:20px; }
.entry:nth-of-type(odd) { background-color:rgba(0,0,0,.1); }
.entry:nth-of-type(even) { background-color:rgba(0,0,0,.2); }

h1,h3 {
    font-weight:inherit;
    line-height:1.2;
    margin-bottom:.5em;
    color: #FFFFFF;
}

h1.feed 
{ 
    font-size:2.441em;
    text-align: center;
    padding-top: 10px; 
    padding-bottom: 10px;
    margin-bottom: -5px;

}
h3.title { font-size:1.563em; }

p { margin-bottom:1.3em; }
p:last-child { margin-bottom:0; }
p.time { color:#bbb; font-size:.85em; }

#csstricks a { color:#3CA2A2; text-decoration:none; }
#csstricks a:hover,#codrops a:hover { text-decoration:underline; }