
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

hr {
    margin: 30px 0;
    border: 1px dotted #3CA2A2;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

.one-third {
    width: 320px;
    float: left;
}

.column {
    width: 125px;
    float: left;
}


a.button {
    display: inline-block;
    padding: 10px;
    background: #3CA2A2;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 6px;
}

.slider .button {
    padding: 20px;
    font-size: 20px;
}

a.button:hover {
    background: #3CA2A2;
}


.product-box {
    padding: 20px;
    width: 259px;  
    height: auto;
    border-right: 1px dotted #3CA2A2;
    float: left;  
    text-align: center;
    background: #215A6D;
    border-radius: 6px;

}

/*.product-box:nth-of-type(3n+0) {
  margin-right: 0px;
  border: none;
}*/

.product-box img
{
    max-width: 100%;
    width: 90%;
    min-height:180px;
    max-height:300px;
    height:220px;
    margin-bottom:20px;
    position: relative;
    z-index: 5;
    border-radius: 6px;
}

.product-box img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.product-box p 
{
    text-align: justify;
    display: block;
}



.product-box .product-price {
    font-size: 20px;
    //font-weight: bold;
    color: #3CA2A2;
    display: block;
    margin-bottom: 20px;

}

.product-box p {
    margin: 10px 0 10px 0;
}

.product-box .buy {

}

#addition
{
    width: 100%;

    padding-top: 10px;
    z-index: 50;

    padding-bottom: 5px;
    color: #3CA2A2;
    border-radius: 6px;
    background: #215A6D;

}
#addition button
{
    float: right;
    background: #215A6D;
    color: #ffffff;
    border-radius: 6px;
}



